<!DOCTYPE html>
%html(lang="pt-BR")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/Tabela de Cores.css"}
    %title Tabela de Cores de Suru++
    :css
      body
      {
        background: whitesmoke
      }

  %body
    - (1..251).each do |i|
      %div{:class => "colour-#{i}"}