/* Base Styles */

body {
	padding: 0;
	margin: 0;
	line-height: 1.4;
	font-size: 16px;
	color: #fff;
	background: #472d33;
	font-family: 'Muli', sans-serif;
	-webkit-transition: all .5s;
	transition: all .5s;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Themes */

.perl {
	color: #222;
	background: #f0f8ff;
	header,
	.button:hover {
		background: #ededed;
	}
	.button {
		background: #fff;
	}
}

.royal {
	background: #4169e1;
	header,
	.button:hover {
		background: #3454b4;
	}
	.button {
		background: #6687e7;
	}
}

.lime {
	background: #32cd32;
	header,
	.button:hover {
		background: #28a428;
	}
	.button {
		background: #5ad75a;
	}
}

/* Header Styles */

header {
	max-width: 100%;
	height: 80px;
	padding: 5px;
	background: #382428;
}

.button {
	padding: 20px 25px;
	margin: 2em .3em;
	background: #ba4662;
	font-size: .9em;
	letter-spacing: 1px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.button:hover {
	background: #ae3c58;
}


